<html xmlns:th="http://www.thymeleaf.org">
<head th:include="../static/layout/top.html">
</head>
<body>
<div class="wrapper">
    <th:block th:include="../static/layout/sidebar.html" th:with="active='userList'"/>
    <div class="container">
        <div id="content">
            <th:block th:include="../static/layout/content-header.html"/>
            <div class="box box-bg">
                <th:block th:include="user/userFilterForm.html"/>
                <table class="table-list full" style="text-align: center">
                    <colgroup>
                        <col width="50px">
                        <col width="200px">
                        <col width="200px">
                        <col width="200px">
                        <col width="200px">
                        <col width="200px">
                        <col width="200px">
                        <col width="200px">
                        <col width="*">
                    </colgroup>
                    <thead>
                    <tr>
                        <th><input type="checkbox" name="checked_all"/></th>
                        <th>사용자아이디</th>
                        <th>사용자명</th>
                        <th>부서</th>
                        <th>직책</th>
                        <th>전화번호</th>
                        <th>휴대폰</th>
                        <th>이메일</th>
                        <th>비고</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:if="${userPage != null}">
                        <tr th:each="user : ${userPage.content}">
                            <td class="txt-center">
                                <input type="checkbox" name="idx[]" th:value="${user.id}"/>
                            </td>
                            <td>
                                <a th:href="@{/user/edit(id=${user.id})}">[[${user.userId}]]</a>
                            </td>
                            <td>[[${user.name}]]</td>
                            <td>[[${user.department}]]</td>
                            <td>[[${user.position}]]</td>
                            <td>[[${user.tel}]]</td>
                            <td>[[${user.phone}]]</td>
                            <td>[[${user.email}]]</td>
                            <td>[[${user.etc}]]</td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>

                <div class="pagination" th:if="${userPage.totalPages > 0}">
                    <a class="first" th:if="${pagingUtil.blockStartNo > 1}"
                       th:href="@{/user/list(page=0, userId=${userId}, name=${name})}">
                        처음
                    </a>
                    <a class="next" th:if="${pagingUtil.blockStartNo > 1}"
                       th:href="@{/user/list(page=${pagingUtil.blockStartNo - 2}, userId=${userId}, name=${name})}">
                        이전
                    </a>
                    <a class="page-link" th:each="PageNo : ${#numbers.sequence(pagingUtil.blockStartNo, pagingUtil.blockEndNo)}"
                       th:href="@{/user/list(page=${PageNo - 1}, userId=${userId}, name=${name})}"
                       th:classappend="${(PageNo - 1) == userPage.number ? 'active' : ''}"
                       th:styleappend="${(PageNo - 1) == userPage.number ? 'background-color: #808080;' : ''}"
                       th:text="${PageNo}">
                    </a>
                    <a class="next" th:if="${userPage.totalPages > pagingUtil.blockEndNo}"
                       th:href="@{/user/list(page=${pagingUtil.blockEndNo}, userId=${userId}, name=${name})}">
                        다음
                    </a>
                    <a class="last" th:if="${userPage.totalPages > pagingUtil.blockEndNo}"
                       th:href="@{/user/list(page=${userPage.totalPages - 1}, userId=${userId}, name=${name})}">
                        마지막
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript">
    $(document).ready(function () {
        /* 체크박스 관련 */
        $('input:checkbox[name="checked_all"]').on('change', function (e) {
            $('input:checkbox[name="idx[]"]').prop('checked', $(this).prop('checked'));
        });

        $('input:checkbox[name="idx[]"]').on('change', function (e) {
            var totalCount = $('input:checkbox[name="idx[]"]').length;
            var totalCheckedCount = $('input:checkbox[name="idx[]"]:checked').length;

            $('input:checkbox[name="checked_all"]').prop('checked', (totalCount === totalCheckedCount));
        });

        /* 체크된 아이디 삭제 관련 */
        $('#btnDeleteUser').on('click', function () {
            let checkValueArr = [];
            let $checkbox = $('input:checkbox[name="idx[]"]:checked');

            for (let i = 0; i < $checkbox.length; i++) {
                checkValueArr.push($checkbox[i].value)
            }
            if ($checkbox.length == 0) {
                alert('선택된 항목이 없습니다.');
                return false;
            } else {
                if (confirm($checkbox.length + " 개의 사용자 정보를 삭제하시겠습니까?")) {
                    $.ajax({
                        url: "/user/delete",
                        type: 'POST',
                        traditional: true,
                        data: {'selectedId': checkValueArr}
                    }).done(function () {
                        window.location.reload();
                        alert($checkbox.length + " 개의 사용자 정보가 삭제되었습니다.")
                    }).error(function () {
                        window.location.reload();
                        alert($checkbox.length + " 개의 사용자 정보가 삭제되었습니다.(error)")
                    })
                } else {
                    window.location.reload();
                }
            }
            console.log('btnDeleteAccount')
        });
    });
</script>
<!--수정 했을 때 메세지 뜨나 안뜨나 해본거 -->
<script th:inline="javascript">
    var message = /*[[${message}]]*/ null;

    if (message !== null) {
        alert(message);
    }
</script>
</html>